*{
margin: 0;
padding: 0;
box-sizing: border-box;
    
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, html {
  
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;

  
}
video{
    position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      z-index: -1;
}

.menu{
    width: 100%;
    position: fixed;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    font-family: "Righteous", sans-serif;
    font-size: larger;
    font-weight: 600;
    z-index: 10;
    

}
.menu>a{
    color: white;
    text-decoration: none;
}
.menu a:hover{
    color: aqua;
    transition: 0.3s ease;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #1e1e1e;
    max-width: 900px;
    min-height: 100vh;
    padding: 100px 20px;
    position: relative;
    z-index: 1;
    

}


.primeiro>h1{
    padding-bottom: 20px;
}
.primeiro>img{
    
    max-width: 100%;
    border-radius: 10px;
    display: block;
    height: auto;
    margin-bottom: 100px;
}



table {
  width:100%;
  border-collapse: collapse;
  background-color: #2c2c2c;
  border-radius: 8px;
  overflow: hidden;
  

}
code{
    background-color: #494949;
    border-radius: 5px;
    padding: 2px;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

th {
  background-color: #1a1a1a;
  color: #ffffff;
  font-weight: bold;
  
  
}

td {
  border-top: 1px solid #444;
  color: #dcdcdc;
  padding-right: 90px;
}

tr:hover td {
  background-color: #3a3a3a;
}
